import { defineConfig } from '@playwright/test';
import { ENV } from './utils/env';

export default defineConfig {

    testDir: './tests',

    use {

        baseURL: ENV.baseUrl,

        browsername: 'chromium',
        
        headless: true,

        screenshot: 'on',

        video: 'off',



}